@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html, body {
  overflow: auto;
  scroll-behavior: smooth;
}

.open{
  font-family: "Open Sans", sans-serif;
}
button{
  cursor: pointer;
}

.logo-loader-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animate-logo {
  animation: spin 2s linear infinite, fadeIn 0.5s ease-in-out;
}

@keyframes spin {
  0% { transform: rotate(0deg) scale(1); }
  100% { transform: rotate(360deg) scale(1); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
/* globals.css or styles.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px #facc15; /* yellow-400 */
}